<template>
  <div class="nav-bar">

  </div>
</template>

<script>
export default {
  name: 'nav-bar',
};
</script>

<style lang="scss" scoped>
.nav-bar {
  position: absolute;
  z-index: 15;
  height: 5rem;
  width: 100%;
  box-shadow: 1px 0px 10px 0px #ccc;
  padding-left: 18rem;
}
</style>
