<template>
  <div class="side-menu">
    <figure class="image">
      <img src="@/assets/images/monneo-logo.png" alt />
    </figure>
    <div class="wallet-info">
      <p class="has-text-weight-bold is-size-5">Eagilst Ltd.</p>
      <p>CZ9228391890123882383</p>
    </div>
    <aside class="menu">
      <ul class="menu-list">
        <li>
          <a>
            <span class="icon is-small">
              <i class="fas fa-bell"></i>
            </span>
            <span>Dashbord</span>
          </a>
        </li>
        <li>
          <a>
            <span class="icon is-small">
              <i class="fas fa-euro-sign"></i>
            </span>
            <span>Customer</span>
          </a>
        </li>
      </ul>
    </aside>
  </div>
</template>

<script>
export default {
  name: 'side-menu',
};
</script>

<style lang="scss" scoped>
.side-menu {
  position: relative;
  z-index: 20;
  width: 18rem;
  height: 102vh;
  box-shadow: 1px -4px 7px 0px #ccc;
  padding: 3rem 2rem;
  background: #fff;
}
.wallet-info {
  margin: 1rem 0;
}
</style>
