<template>
  <button class="m-button">
    <slot></slot>
  </button>
</template>

<script>
export default {

};
</script>

<style lang="scss" scoped>
.m-button {
  text-transform: uppercase;
  padding: .5rem 2rem;
  box-shadow: 0px 0px 2px 1px #1565C0;
  color: #1565C0;
  border: unset;
  background-color: unset;
  &:hover {
    cursor: pointer;
  }
}
</style>
