<template>
  <div
    class="field"
    @click="changeValue"
  >
    <input class="is-checkradio" type="checkbox" :checked="checked">
    <label >{{ label }}</label>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
  },
  data() {
    return {
      checked: false,
    };
  },
  methods: {
    changeValue() {
      this.checked = !this.checked;
    },
  },
};
</script>

<style>

</style>
