<template>
  <div class="m-input">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">{{ label }}:</label>
      </div>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <template v-if="additional">
              <span class="additional">{{additional}}</span>
            </template>
            <input class="input" type="text">
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    additional: String,
  },
};
</script>

<style lang="scss" scoped>
.m-input {
  border: none;

  .label {
    text-align: left;
    white-space: pre;
    color: #666;
    font-size: 1rem;
  }

  .input {
    border: unset;
    box-shadow: unset;
    border-radius: unset;
    border-bottom: 1px solid #ddd;
    padding: .25rem;
    height: 2em;
    &:focus {
      outline: unset;
    }
  }
}

.control {
  display: flex;
  white-space: pre;
  align-items: flex-end;
}

.additional {
  margin-right: 1rem;
}

.field-label {
  flex-grow: unset;
}
</style>
