<template>
  <div class="home">
    <payment-form>
      <template v-slot:header>
        Outgoing SEPA transfer from PPF Bank
      </template>
    </payment-form>
  </div>
</template>

<script>
import PaymentForm from '@/components/PaymentForm.vue';

export default {
  components: {
    PaymentForm,
  },
};
</script>

<style lang="scss" scoped>
.home {
  padding-top: 10rem;
  padding-right: .75rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
