<template>
  <div class="card">
    <header class="card-header">
      <slot name="header">

      </slot>
    </header>
    <div class="card-content">
      <div class="content">
        <div class="field is-horizontal info-block">
          <div class="field-label is-label-left">
            <label class="label">From:</label>
          </div>
          <div class="field-body">
            Eaglst Ltd / CZX67500000000008678
          </div>
        </div>
        <div class="columns info-block">
          <div class="column">
            <m-input label="Amount in E" />
          </div>
          <div class="column is-6">
            <m-input label="IBAN" />
          </div>
          <div class="column">
            <m-input label="BIC" />
          </div>
        </div>
        <div class="columns info-block">
          <div class="column">
            <m-input label="Beneficiary" />
          </div>
        </div>
        <div class="columns info-block">
          <div class="column">
            <m-input
              label="Desctiption"
              additional="Ultimate sender: Eaglst Ltd -"
            />
          </div>
        </div>
        <div class="columns info-block">
          <div class="column is-3">
            <m-input label="Value date" />
          </div>

          <div class="column is-3 is-offset-3">
            <m-checkbox label="Urgent"/>
          </div>
        </div>
        <div class="columns info-block">
          <div class="column is-3">
            <m-checkbox label="Create template"/>
          </div>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <m-button>
        verify and continue
      </m-button>
    </footer>
  </div>
</template>

<script>
import MButton from '@/components/monneo/MButton.vue';
import MInput from '@/components/monneo/MInput.vue';
import MCheckbox from '@/components/monneo/MCheckbox.vue';

export default {
  components: {
    MButton,
    MInput,
    MCheckbox,
  },
};
</script>

<style lang="scss" scoped>
.card {
  margin: 0 2rem;
  &-header {
    background-color: #1565C0;
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    padding: .75rem 1rem;
  }
  &-content {
    padding: 2rem 3rem 1rem;
  }
  &-footer {
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
}

.info-block {
  margin-bottom: 1.5rem !important;
}
</style>
