html{
  width: 100%;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.label {
  white-space: pre;
  color: #666;
  font-size: 1rem;
}

.is-label-left {
  flex-grow: unset;
}
